<div id="welcome">
  Hei! Jeg heter Magnar, og jeg lager et nettspill fra scratch med javascript på klient og server.
  Testdrevet etter beste evne. 
  <%= @episode.welcome_text %>
</div>

<iframe width="835" height="505" src="http://www.youtube.com/embed/<%= @episode.youtube %>?hd=1" frameborder="0" allowfullscreen></iframe>

<ul id="download">
  <% if @episode.github_link %>
     <li>Her er <a href="<%= @episode.github_link %>">koden for episoden</a>.</li>
  <% elsif @episode.github_excuse %>
    <li><%= @episode.github_excuse %></li>
  <% end %>
  <li>Du kan også laste den ned og se på bussen: 
  <a href="<%= @episode.dropbox_link %>"><%= @episode.filename %></a> (<%= @episode.size %>) 
  - Dropbox gir kjipe headers, så høyreklikk og Lagre&nbsp;som&nbsp;...</li>
  <% if not @episode.next %>
    <li>Hvis du har gått glipp av noe, kan du sjekke ut <a href="/episoder.html">alle episodene</a> her.</li>
  <% end %>
</ul>

<div id="more">
  <% if @episode.next %>
    <div id="next">
      <a id="all_episodes" href="/episoder.html">Alle episoder</a>
      <h2>Sett den ferdig? Her er <a href="<%= @episode.next.link %>"><%= @episode.next.title %></a></h2>
    </div>
  <% end %>
  <div id="signup">
    <%= partial "signup_form" %>
  </div>
  <div id="comments">
    <%= partial "disqus_thread" %>
  </div>
  <div class="clear"></div>
</div>