<div id="welcome">
  Hei! Jeg heter Magnar, og jeg lager et nettspill fra scratch med javascript på klient og server.
  Testdrevet etter beste evne. Har du lyst til å være med?
</div>

<div id="episodes">
  <% for act in Acts.all %>

    <h2>Akt <%= act.number %></h2>
    <p><%= act.description %></p>
    <ul>
      <% for episode in act.episodes %>
        <li>
          <a href="<%= episode.link %>">
            <% if episode.guest then %>
              <span class='guest'>starring <%= episode.guest.name %></span>
            <% end %>
            <u><%= episode.title %></u>
          </a>
        </li>
      <% end %>
    </ul>

  <% end %>


</div>

<div id="signup">
  <%= partial "signup_form" %>
</div>
